.bannerContainer {
  display: flex;
  border-bottom: 1px solid #e3e3fd;
  background-color: var(--background-alt-blue-france);
  color: var(--text-default-info);
}

.bannerText {
  margin: 0;
}

.bannerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
