.tabs::before {
  margin-right: 0 !important;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.mainContent {
  padding: 2rem 1rem;
}

.statsContainer {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  margin: var(--text-spacing);
  padding: 1rem 0;
}

.statColumn {
  display: flex;
  flex-direction: column;
}

.statValue {
  margin-left: 1.5rem;
}

.mapContainer {
  border-left: 1px solid #ddd;
}

.mapWrapper {
  height: 60%;
}

.nearbyContainer {
  padding: 2rem 1rem;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.subtitle {
  font-size: 2rem;
  line-height: 2.5rem;
}
.tabsLinkContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tabsContainer {
  max-height: 100%;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .mainContent {
    padding: 3rem;
  }
  .tabsContainer {
    height: 40%;
  }
  .statDivider {
    background-color: #dddddd;
    width: 0.5px;
  }
  .tabsLinkContainer {
    flex-direction: row;
  }
  .container {
    position: relative;
    z-index: 1;
    flex-direction: row;
  }
  .nearbyContainer {
    padding: 2.5rem;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 0;
  }
  .statsContainer {
    flex-direction: column;
  }
  .tabsLink {
    text-decoration: underline;
    background-image: none;
  }
}
