.citiesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.cityButton {
  white-space: nowrap;
}


.moreContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tabs::before {
  margin-right: 0 !important;
}

.backgroundWhite {
  background: white;
}