.tabs::before {
  margin-right: 0 !important;
}

.summaryCardTitle span[class^="ri-"]::before,
.summaryCardTitle span[class^="fr-"]::before {
  --icon-size: 2rem;
  color: #5858AD;
}

.costGrid {
  border: 1px solid #DDD;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.costGridItem {
  display: flex;
  gap: 0.5rem;
  padding: 2rem 3rem;
  border-bottom: 1px solid #DDD;
}

.costGridItem:nth-child(odd) {
  border-right: 1px solid #DDD;
}

.costGridItem:nth-last-child(-n+2) {
  border-bottom: none;
}